[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
rich = "*"
python-docx = "*"
click = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
jedi = "==0.17.2"
parso = "==0.7.1"

[requires]
python_version = "3.8"

[scripts]
tests = "python -W ignore -m unittest discover tests"
